*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.gridContainer{
    display: grid;

    grid-template-columns: repeat(3,400px);
    grid-template-rows: repeat(2,400px);

    /* row-gap: 10px;
    column-gap: 15px; */

    gap: 15px;

    height: 100vh;

    justify-items: center;

    align-items: center;

    justify-content: center;

    align-content: center;
}

.gridItem{
    background-color: blueviolet;
    /* padding: 20px; */
    /* margin: 25px; */

    height: 200px;
    width: 200px;
}