@media(max-width:520px){
    .grid__container{
        height: 92vh;
        background-image: var(--container-gradient);

        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,1fr);

        gap: 10px;

        padding: 20px 20px ;

        justify-items: center;

        align-items: center;

        justify-content: center;

        align-content: center;

    }
    
    .box{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 15px;
    }

    .box h2{
        font-size:15px ;
    }

    .box1{
        background-image: var(--salgados-gradient);
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
        flex-direction: row;
    }

    .box1__item{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .box1__item--descricao{
        padding: 20px;
        text-align: justify;
        font-size:8px;
    }

    .box2{
        background-color: var(--frutas-bg);
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .box3{
        background-color: var(--doces-bg);
        grid-row: 3/4;

    }

    .box4{
        background-color: var(--sucos-bg);
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .box5{
        background-color: var(--lanches-bg);
        grid-row: 5/6;
    }

    .box6{
        background-color: var(--pizzas-bg);
        grid-row: 6/7;
        
    }

    .box img{
        width: 65px;
        height: 65px;
        margin: 0px;
        border-radius: 100%;
        border: 4px solid var(--text-dark);
    }
}

@media (min-width:521px){

    .grid__container{
        height: 92vh;
        background-image: var(--container-gradient);

        display: grid;

        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);

        gap: 10px;

        padding: 20px 20px;

        justify-items: center;

        align-items: center;

        justify-content: center;

        align-content: center;

    }
    
    .box{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 15px;
    }

    .box h2{
        font-size:20px ;
    }

    .box1{
        background-image: var(--salgados-gradient);
        grid-column: 1/3;
        display: flex;
        flex-direction: row;
    }

    .box1__item{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .box1__item--descricao{
        padding: 20px;
        text-align: justify;
        font-size:15px;
    }

    .box2{
        background-color: var(--frutas-bg);
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .box3{
        background-color: var(--doces-bg);

    }

    .box4{
        background-color: var(--sucos-bg);
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .box5{
        background-color: var(--lanches-bg);
    }

    .box6{
        background-color: var(--pizzas-bg);
    }

    .box img{
        width: 95px;
        height: 95px;
        margin: 0px;
        border-radius: 100%;
        border: 4px solid var(--text-dark);
    }
}

@media (min-width:701px){

    .grid__container{
        height: 92vh;
        background-image: var(--container-gradient);

        display: grid;

        grid-template-columns: repeat(3,230px);
        grid-template-rows: repeat(3,200px);

        gap: 10px;

        padding: 20px 20px;

        justify-items: center;

        align-items: center;

        justify-content: center;

        align-content: center;

    }

    .box{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 15px;
    }

    .box1{
        background-image: var(--salgados-gradient);
        grid-column: 1/3;
        display: flex;
        flex-direction: row;
    }

    .box1__item{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .box1__item--descricao{
        padding: 20px;
        text-align: justify;
    }

    .box2{
        background-color: var(--frutas-bg);
        grid-column: 3/4;
        grid-row: 1/3;
    }

    .box3{
        background-color: var(--doces-bg);

    }

    .box4{
        background-color: var(--sucos-bg);
        grid-column: 2/3;
        grid-row: 2/4;
    }

    .box5{
        background-color: var(--lanches-bg);
    }

    .box6{
        background-color: var(--pizzas-bg);
    }
} 