*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,ul,li,p{
    list-style: none;
    font-size: 1.2em;
    font-family: Arial, sans-serif;
}
body{
    margin-bottom: 100px;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    text-align: center;
    margin-top: 100px;
}

img{
    max-width: 100%;
    width: 150px;
}