*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Trebuchet MS', sans-serif;
    background: linear-gradient(40deg,rgb(255, 255, 0) 0%, rgb(255, 166, 0) 30%, rgb(255, 85, 0) 100%);
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

img{
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
    border: 7px double black;
}

.grid-container{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(40deg,rgb(255, 255, 0) 0%, rgb(255, 166, 0) 30%, rgb(255, 85, 0) 100%);

    display: grid;

    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(3,200px);

    gap: 15px;

    height: 100vh;

    justify-items: center;

    align-items: center;

    justify-content: center;

    align-content: center;


}

.box1{
    background-image: linear-gradient(to right,orange,rgb(244, 209, 144));
    grid-column:1/3;
    width: 100%;
}

.box2{
    background-image: linear-gradient(to left, yellow, rgb(247, 247, 148));
    grid-row:1/3;
    grid-column: 3/4;
    width: 100%;
    height: 100%;
}

.box3{
    background-image: linear-gradient(to bottom, blue, lightblue);
}

.box4{
    background-image: linear-gradient(to top, red, pink);
    grid-row: 2/4;
    grid-column: 2/3;
    width: 100%;
    height: 100%;
}

.box5{
    background-image: linear-gradient(to left, green, lightgreen);
}

.box6{
    background-image: linear-gradient(to right, purple, rgb(216, 150, 216));
}
